/* Add CSS styling here */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    border: 1px red;
}

html {
    font-size: 62.5%;
}

nav {
    display: flex;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: center;
    padding: 2% 0;
}

.image-button {
    background-image: url("https://picsum.photos/600/400");
    background-repeat: no-repeat;
    background-size: cover;
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    width: 600px;
    height: 400px;
}

h1 {
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: slategray;
}

p {
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    background-color: slategray;
    padding: 20px;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.row div {
    width: 30%;
    padding: 2% 0;
}

.portfolio-element {
    text-align: center;
}

button {
    background-color: white;
    color: black;
    border: black solid 1px;
    padding: 5px 10px;
}

button:hover {
    background-color: black;
    color: white;
    border: white solid 1px;
}

button a {
    text-decoration: none;
    color: inherit;
}

nav.social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.6rem;
}

@media (max-width: 800px) {
    h1 {
        font-size: 3rem;
    }

    .image-button {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.4rem;
    }

    nav.social {
        font-size: 1.4rem;
    }
}

@media (max-width: 500px) {
    header, section, footer {
        padding: 4% 0;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    links {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    links button{
        width: 40%;
        margin: 1% 0;
    }

    .top {
        width: 80%;
        margin: 0 auto;
    }

    .row div {
        width: 40%;
    }

    nav.social {
        align-items: center;
        padding: 2% 0;
    }
}